{% extends "admin_base.html" %}
{% block body %}
{% load static %}
{% include "alert.html" %}

{% for edit in cetegories_edit %}
<div class="p-2" id="categoriesedi">
    <div class="row d-flex justify-content-center align-items-end mb-4">
        <button type="button"
            class="btn rounded-circle border bg-white col-1 me-4 d-flex justify-content-center align-items-center"
            style="width: 35px !important;height: 35px !important;position: relative !important;top: 3px !important;"
            onclick="history.back()">
            <i class="fa-solid fa-arrow-left fs-3"></i>
        </button>

        <div class="col progress rounded-pill mb-3 d-flex justify-content-center align-items-center"
            style="height: 2px !important; background: #f0f0f0 !important;">
        </div>

        <div class="col d-flex justify-content-center align-items-center text-uppercase border rounded-pill bg-white"
            style="font-weight: 600 !important;">edit {{ edit.goggles_types_name }} Category
        </div>

        <div class="col progress rounded-pill mb-3 d-flex justify-content-center align-items-center"
            style="height: 2px !important; background: #f0f0f0 !important;">
        </div>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3 row d-flex justify-content-left align-items-center" id="id">
            <div class="col-2 me-2">
                <div class="row">
                    <label for="id_goggles_types_id" style="color: #00000090 !important;">
                        <h4>Categories ID</h4>
                    </label>
                </div>
                <div class="row">
                    {{ form.goggles_types_id }}
                </div>
            </div>

            <div class="col-2">
                <div class="row">
                    <label for="id_is_active" style="color: #00000090 !important;">
                        <h4>Is Active</h4>
                    </label>
                </div>
                <div class="row">
                    <select class="form-select form-select-sm" id="id_is_active" name="is_active"
                        aria-label=".form-select-sm example" style="font-size: 19px !important;">
                        <option value="{{edit.is_active}}" selected>{{edit.is_active}}</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-3 row d-flex justify-content-left align-items-center" id="image">
            <div class="col-4">
                <div class="row">
                    <label for="id_goggles_types_img" style="color: #00000090 !important;">
                        <h4>Categories Image</h4>
                    </label>
                </div>
                <div class="row">
                    {{ form.goggles_types_img }}
                </div>
            </div>

            <img src="/Images/{{ edit.goggles_types_img }}" alt="" class="col rounded" id="blah">
            <script>
                id_goggles_types_img.onchange = evt => {
                    const [file] = id_goggles_types_img.files
                    if (file) {
                        blah.src = URL.createObjectURL(file)
                    }
                }
            </script>
        </div>

        <div class="mb-3 row d-flex justify-content-left align-items-center" id="name">
            <div class="col-4">
                <div class="row">
                    <label for="id_goggles_types_name" style="color: #00000090 !important;">
                        <h4>Categories name</h4>
                    </label>
                </div>
                <div class="row">
                    {{ form.goggles_types_name }}
                </div>
            </div>
        </div>

        <div class="mb-3 row d-flex justify-content-left align-items-center" id="information">
            <div class="col-5">
                <div class="row">
                    <label for="id_goggles_types_informations" style="color: #00000090 !important;">
                        <h4>Categories information</h4>
                    </label>
                </div>
                <div class="row">
                    {{ form.goggles_types_informations }}
                </div>
            </div>
        </div>

        <div class="mb-3 row d-none justify-content-left align-items-center">
            <div class="col-2">
                <input type="text" class="form-control text-black" value="{{ datetime|date:'Y-m-d' }}" name="joind_date"
                    required id="id_joind_date">
            </div>
            <div class="col-2">
                <input type="text" class="form-control text-black" value="{{ datetime|time:'G:i' }}" name="joind_time"
                    required id="id_joind_time">
            </div>

        </div>

        <div class="mb-3 col-5">
            <hr>
        </div>

        <div class="mb-3 row d-flex justify-content-left align-items-center" id="button">
            <div class="col-3">
                <button type="submit" class="btn btn-primary w-100 rounded" name="submit" value="submit">Update</button>
            </div>
            <div class="col-3">
                <a href="/categories/" class="btn btn-secondary w-100 rounded">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endfor %}

{% endblock %}